<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SharedCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <SharedCode.Properties.Settings>
      <setting name="ApplicationConfigsDirectory" serializeAs="String">
        <value>\Application_Configs</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="TCPTimeOut" serializeAs="String">
        <value>00:01:30</value>
      </setting>
      <setting name="isTCPTimeOut" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>1115</value>
      </setting>
      <setting name="HDLCAddressLength" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxInfoBufferTransmit" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="MaxInfoBufferReceive" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="WinSizeTransmit" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WinSizeReceive" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DeviceAddress" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="ResponseTimeOut" serializeAs="String">
        <value>00:00:03</value>
      </setting>
      <setting name="InActivityTimeOut" serializeAs="String">
        <value>00:02:00</value>
      </setting>
      <setting name="IsKAEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEnableRetry" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSkipLoginParam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckAccessRights" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataReadTimeout" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="TCPInConnectionTimeout" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="IRCOMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="IRCOMBaudRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ModemCOMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="MobileNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="ModemBaudRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="IP_Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="HDLC_TCP_FLAG1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IP_and_Port_FLAG3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TCP_UDP" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Use_Backup_IP_FLAG4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Password_FLAG0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HeartBeatType" serializeAs="String">
        <value>1</value>
      </setting>
    </SharedCode.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>