<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DatabaseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DatabaseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DatabaseManager.Properties.Settings>
            <setting name="ApplicationConfigsDirectory" serializeAs="String">
                <value>\Application_Configs</value>
            </setting>
            <setting name="IsEnableIOLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsEnableMessageInfoLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsEnableErrorInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SystemTitle" serializeAs="String">
                <value>MTIwaves</value>
            </setting>
            <setting name="MIN_EK_Counter" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MAX_EK_Counter" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="MaxReadBuffer" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MaxWriteBuffer" serializeAs="String">
                <value>1024</value>
            </setting>
        </DatabaseManager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DatabaseManager.Properties.Settings>
            <setting name="CheckAccessRights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SEAC7_DBConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Application_Configs\SEAC7_DB.mdb;Persist Security Info=True;Jet OLEDB:Database Password=$v#1S0ot@5</value>
            </setting>
        </DatabaseManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
