<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Communicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Communicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <connectionStrings />
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="2048" pollingInterval="00:01:30" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <Communicator.Properties.Settings>
      <setting name="ApplicationConfigsDirectory" serializeAs="String">
        <value>\Application_Configs</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="TCPTimeOut" serializeAs="String">
        <value>00:01:30</value>
      </setting>
      <setting name="TCP_Inactivity_TimeOut" serializeAs="String">
        <value>00:03:30</value>
      </setting>
      <setting name="isTCPTimeOut" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SchedulerPoolingTime" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="SaveLogToDBFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinCacheAge" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="MaxCahceAge" serializeAs="String">
        <value>00:10:00</value>
      </setting>
      <setting name="MaxMeterConn" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MinMeterConn" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MaxPhyConn" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="startKAScheduler" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxKeepAlive" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="StatisticsUpdateSessionTime" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="WorkerThreadPoolSize" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="IOThreadPoolSize" serializeAs="String">
        <value>4500</value>
      </setting>
      <setting name="ReadOldData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timeSync_SecondThreshold" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="timeSync_MinuteThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="timeSync_transmissionOffset_Seconds" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="timeSync_transmissionOffset_Minutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EnableGeneralLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultResetSessionDurationForNonKeepAliveMeters" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="DefaultResetSessionDurationForKeepAliveMeters" serializeAs="String">
        <value>00:15:00</value>
      </setting>
      <setting name="AssociationTimeout" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="SupportForPrepaid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinWorkerThreadPoolSize" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MinIOThreadPoolSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RefreshingTimeForAllMeterWindow" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IsEnableInvalidTimeSync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveMDCSessions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveMDCStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveStatistics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveErrorToDB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContactorStatusReadDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GrantContactorOnPermission" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GrantContactorOFFPermission" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeSyncOnBatteryDead" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermissionParamsWrite" serializeAs="String">
        <value>FFFFFFFF</value>
      </setting>
      <setting name="ApplicationTitle" serializeAs="String">
        <value>MTIwaves</value>
      </setting>
      <setting name="EnableProcessInfoLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableIOLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableErrorLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLogs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLogsBuffer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableWriteToConsole" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableWriteToTextLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableWriteToEventLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableWriteToUDPLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LogsFileSize" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LogsFileCount" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LoggerBroadcastIPAddress" serializeAs="String">
        <value>255.255.255.255</value>
      </setting>
      <setting name="LoggerPort" serializeAs="String">
        <value>8009</value>
      </setting>
      <setting name="LogMeterSerialNumbersFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableMSNFilter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ByPassContactorStateChecks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HDLCAddressLength" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxInfoBufferTransmit" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="MaxInfoBufferReceive" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="WinSizeTransmit" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WinSizeReceive" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DeviceAddress" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="ResponseTimeOut" serializeAs="String">
        <value />
      </setting>
      <setting name="InActivityTimeOut" serializeAs="String">
        <value />
      </setting>
      <setting name="IsKAEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEnableRetry" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSkipLoginParam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Validate_MSN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HeartBeatWaitTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CheckAccessRights" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnConnectionDelay" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="OnRequestDelay1" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="OnRequestDelay" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>1723</value>
      </setting>
    </Communicator.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Communicator.Properties.Settings>
      <setting name="Instance" serializeAs="String">
        <value>MDC_ActualMeters</value>
      </setting>
    </Communicator.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.31.0" newVersion="6.10.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.0.0" newVersion="3.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.111.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.111.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>-->
      <!--<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />-->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
     <!-- <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      -->

      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>